<!--game search handlebars-->

<div class="container justify-content-center">

    <form class="mt-4 search-box" method="post" action="/gamesearch">
        <div class="form-row align-items-center">
            <div class="col-8">
                <input class="form-control form-control-lg" type="text" name="game" placeholder="Search for a game">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </div>
    </form>

     <div class="content-box jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 user-header">Game Results</h1>
            <div id="game-results">
                {{#each games}}
                    <div class="col games-cols">
                        <div class="card w-75 games-result-card">
                            <form method="get" action="/create-game">
                            <div class="card-body">
                                <h3 class="card-title" name="name">{{name}}</h3>
                                <img name="game-image" src={{image}}>
                                <button type="submit" class="btn btn-warning" id="addGame">Add Game to Library</button>
                            </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready( function(){

        $('#addGame').on(click, function(){

           console.log("hello")
            //$.ajax({
        })
    })
    </script>

    
    