<!--game search handlebars-->
<<<<<<< HEAD

    <form method="post" action="/gamesearch">
        <input type="text" name="game" placeholder="enter a game input">
        <button type="submit">Submit</button>
    </form>
    
=======
 <form method="post" action="/gamesearch">
    <input type="text" name="game" placeholder="Search for a game">
    <button type="submit">Submit</button>
</form>
>>>>>>> 924e7ebb6daebaeb28dc6e415b391ed784f494e7
    <ul>
        {{#each games}}
            <div class="container" style="background-color: white">
                {{!-- <h1>Hello</h1> --}}
                <h3>{{name}}</h3>
                <img src={{image}}>
                <form method="post" action="/"><button type ="submit">Add Game to Library</button></form>
            </div>
        {{/each}}
    </ul>
    
    