<!--game search handlebars-->

    <ul>
        {{#each games}}
            <div class="container" style="background-color: white">
                {{!-- <h1>Hello</h1> --}}
                <h1>{{name}}</h1>
            </div>
        {{/each}}
    </ul>