<img id="logoMain" src="/assets/images/gameswaplogo.png">
<div class="fixed-middle">
    <div class="login" id="loginfacebook">
        <a class="btn btn-block btn-social btn-facebook" href="auth/facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
    </div>
</div>

