<div class="fixed-middle">
    <div class="login">
        <a class="btn btn-block btn-social btn-google" href="search">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
    </div>
</div>

