<div class="fixed-middle">
    <div class="login">
        <a class="btn btn-block btn-social btn-google" href="search">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </div>
</div>