<div class="views-box container justify-content-center">
    <form class="mt-4 search-box" action="/search" method="POST">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Location</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="location" id="location-input">
                    <option selected>Choose...</option>
                    <option  value="1">UCF - University of Central Florida</option>
                    <option  value="2">Full Sail</option>
                    <option  value="3">Rollins College</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning" id="search-btn">Submit</button>
            </div>
        </div>
    </form>

    <div class="content-box jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 user-header">Local Users</h1>
            <div id="users-results">
                <div class="row">
                    {{#each users}}
                    <div class="col user-cols">
                        <div class="card w-75 user-result-card">
                            <div class="card-body">
                                <h3 class="card-title">{{name}}</h3>
                                <p class="card-text"></p>
                                <a href="/username/{{id}}" class="btn btn-primary view-profile-btn">View Profile</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>